<aside>
    <div class="head-menu">
            <a href="index.html" class="b-brand">
                    <img src="assets/imgs/logoresized.png" alt="">
                </a>
        <div class="navbar-brand header-logo">
            <!--<a href="index.html" class="b-brand">
                <div class="b-bg">
                    <i class="fas fa-truck"></i>
                </div>
                <span class="b-title">Envios</span>
                <img src="assets/imgs/logoresized.png" alt="">
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>-->
        </div>
    </div>
    <ul class="menu">
        <!--<li class="divider">
            <span>Menu</span>
        </li>-->
        <li class="hasmenu" routerLinkActive="active">
            <a routerLink="/admin/shipments" routerLinkActive="active">
                <i class="fas fa-shipping-fast"></i>
                <span>Envíos</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin/companies" routerLinkActive="active">
                <i class="fas fa-boxes"></i>
                <span>Compañias</span>
            </a>
        </li>
        <li routerLinkActive="active">
                <a (click)="signOut()">
                    <i class="fas fa-power-off"></i>
                    <span>Cerrar Sesión</span>
                </a>
            </li>
        <li>
    </ul>
</aside>