@import "../../../variables.scss";
.card-transparent {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 30px !important;

  .card-body {
    background: transparent;
    border-radius: 30px !important;

    .card-icon {
      width: 90%;
      display: block;
      margin: 20px auto;
      -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
      filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
    }

    .selectWrapper {
      border-radius: 30px;
      display: inline-block;
      overflow: hidden;
      background: #cccccc;
      border: 1px solid #cccccc;
      width: 100%;

      select {
        border: 0px;
        outline: none;
        margin: 0;
      }
    }

    input,
    select {
      margin-top: 5px;
      border: 0;
      height: 50px;
      border-radius: 30px !important;
      color: $app-blue;
      border: 1px solid $app-blue;

      .option {
        color: $app-blue;
      }

      &::-webkit-input-placeholder {
        color: $app-blue;
        font-size: 0.8em !important;
      }
      &:-moz-placeholder {
        color: $app-blue;
        font-size: 0.8em !important;
      }
      &::-moz-placeholder {
        color: $app-blue;
        font-size: 0.8em !important;
      }
      &:-ms-input-placeholder {
        color: $app-blue;
        font-size: 0.8em !important;
      }
    }

    .row {
      border-radius: 30px;
      .btn-app {
        margin-top: 5px;
      }
    }
  }
}
