<div class="content">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="/"><img src="assets/imgs/logoship2go.png" class="logo" alt=""></a>
                    </div>
                    <div class="col-sm-4">
    
                    </div>
                    <div class="col-sm-4 listContainer">
                        <ul>
                            <li><a href="/register">Registro</a></li>
                            <li><a href="/login" class="text-red">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form #myform="ngForm" (ngSubmit)="sendNewPassword(myform)" class="form form-login">
                        <h5 class="card-title text-center"><span class="text-red">¡Nueva</span> contraseña!</h5>
                        <input type="hidden" name="hash" [(ngModel)]="user.hash"  ngModel>
                    <div class="input-container" [ngClass]="{ 'is-invalid': loginErrors.password != '' }">
                        <i class="fas fa-envelope"></i>
                        <input name="password" id="login-password" type="password" class="form-input" placeholder="Contraseña" required ngModel>
                    </div>
                    <div class="input-container" [ngClass]="{ 'is-invalid': loginErrors.password != '' }">
                        <i class="fas fa-envelope"></i>
                        <input name="password_confirm" id="login-password" type="password" class="form-input" placeholder="Confirmar Contraseña" required ngModel>
                    </div>
                    <div class="form-field text-center">
                            <button class="btn btn-login text-uppercase rounded-pill" [disabled]="loading" type="submit">
                                    Enviar
                                    <i class="fas fa-circle-notch fa-spin" *ngIf="loading"></i>
                                </button>  
                    </div>
                </form>
            </div>
        </div>
    </div>