@import "../../../variables.scss";
.card {
  padding: 0;
  background: transparent;
  border: 0;
  .card-body {
    padding: 0;
    background: transparent;
    border: 0;
    
    h5 {
      color: $app-blue !important;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

input,
        select {
          background: #fff;
          height: 40px;
          border: 1px solid #ccc;
          border-radius: 30px;
          color: $app-blue;

          &::-webkit-input-placeholder {
            color: $app-blue;
          }
          &:-moz-placeholder {
            color: $app-blue;
          }
          &::-moz-placeholder {
            color: $app-blue;
          }
          &:-ms-input-placeholder {
            color: $app-blue;
          }
        }
