<div class="card-body">
    <div class="row">
        <div class="col-sm-4">
            <h5 class="card-title align-self-center">Envíos</h5>
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" [(ngModel)]="search.trackingNumber" placeholder="Número de guía">
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" [(ngModel)]="search.company" placeholder="Email de Usuario">
        </div>
        <div class="col-sm-2">
            <a (click)="searchLabels()" class="btn btn-app btn-rounded btn-block">Buscar Guías</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Número de Rastreo</th>
                        <th>Fecha</th>
                        <th scope="col">Origen</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Paqueteria</th>
                        <th scope="col">Estatus</th>
                        <th scope="col">Costo</th>
                        <th style="min-width:200px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let shipment of shipments">
                        <td>{{shipment.tracking_number}}</td>
                        <td>{{shipment.created_at | date:'medium' }}</td>
                        <td>{{shipment.origen.address}} {{shipment.origen.number}}. {{shipment.origen.district}}, {{shipment.origen.city}}, {{shipment.origen.state}}, {{shipment.origen.country}}</td>
                        <td>{{shipment.destination.address}} {{shipment.destination.number}}. {{shipment.destination.district}}, {{shipment.destination.city}}, {{shipment.destination.state}}, {{shipment.destination.country}}</td>
                        <td>{{shipment.carrier}}</td>
                        <td>{{shipment.status}}</td>
                        <td>{{shipment.price | currency}}</td>
                        <td>
                                <button type="button" *ngIf="shipment.status == 'CANCELLED'"
                                (click)="refundShipment(shipment.id)" placement="top" ngbTooltip="Reembolzar" class="btn btn-icon btn-rounded btn-success">
                                <i class="fas fa-undo"></i>
                        </button>
                            <button type="button" *ngIf="shipment.status != 'CANCELLED' && shipment.status != 'REFUNDED' && shipment.picked == false"
                                (click)="pickShipment(shipment.id)" placement="top" ngbTooltip="Agendar Recolección" class="btn btn-icon btn-rounded btn-info">
                                <i class="fas fa-shipping-fast"></i>
                        </button>
                            <button type="button" *ngIf="shipment.status != 'CANCELLED' && shipment.status != 'REFUNDED' && shipment.picked == false"
                                (click)="cancelShipment(shipment.id)" placement="top" ngbTooltip="Cancelar Guía" class="btn btn-icon btn-rounded btn-danger"><i
                                    class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr *ngIf="shipments.length == 0">
                        <td colspan="8" class="text-center">No se encontraron guías</td>
                    </tr>
                </tbody>
                <!--<tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>-->
            </table>
        </div>
    </div>
</div>