<div class="card-body">
    <div class="row">
        <div class="col-sm-9">
            <h5 class="card-title align-self-center">Envíos</h5>
        </div>
        <div class="col-sm-3">
                <a routerLink="/admin/shipments/new" routerLinkActive="active"
                class="btn btn-app btn-rounded btn-block">Generar Guía</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th scope="col">Origen</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Paqueteria</th>
                        <th scope="col">Estatus</th>
                        <th scope="col">Costo</th>
                        <th style="min-width:200px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let shipment of shipment">
                        <td>{{shipment.id}}</td>
                        <td>{{shipment.created_at | date:'medium' }}</td>
                        <td></td>
                        <td></td>
                        <td>{{shipment.carrier}}</td>
                        <td>{{shipment.status}}</td>
                        <td>{{shipment.price | currency}}</td>
                        <td>

                            <a routerLink="/admin/shipments/{{shipment.id}}" *ngIf="shipment.status !='CANCELLED'" routerLinkActive="active"
                                class="btn btn-icon btn-rounded btn-info"><i class="fas fa-eye"></i></a>
                            <a href="{{shipment.label_url}}" *ngIf="shipment.status !='CANCELLED'" target="_blank"
                                class="btn btn-icon btn-rounded btn-success"><i class="fas fa-download"></i></a>
                            <button type="button" *ngIf="shipment.status !='CANCELLED' || shipment.picked == false" (click)="cancelShipment(shipment.id)"
                                class="btn btn-icon btn-rounded btn-danger"><i
                                    class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr *ngIf="shipments.length == 0">
                        <td colspan="8" class="text-center">No se encontraron guías</td>
                    </tr>
                </tbody>
                <!--<tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>-->
            </table>
        </div>
    </div>
</div>